{% extends 'base.html'%}
{%block content%}
<div class = "container">
    <div class = "row">
        <!-- displaying Username -->
        <div class ="col-md-6">
            <h3>{{user.username| capitalize}}</h3>
           
            <!-- displaying user bio -->
            {%if user.bio%}
            <p>{{user.bio}}</p>
            {%else%}
            <p>{{user.username| capitalize}} has no bio</p>
       </div>

       <!-- dispaly profile photo -->
       <div class ="col-md-6">
           {% if user.profile_pic_path %}
           <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="thumbnail">
           {%else%}
           <p>No profile picture</p>
           {% endif %}

           {% if user == current_user%}
           <form action="{{url_for('main.update_pic', uname=user.username)}}" method='post'>
               <input type=' file' name='photo' class='control'required>
               <input type='submit'>
           </form>
       </div>

    </div>
</div>
{% endblock %}