{%extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{%block content%}
<nav class="navbar" style ="background-color: darkgreen;">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('main.index')}}" style ="color: beige; font-size: large;">HOME.</a>
        </li>
      </ul>
    </div>
</nav>
<div class="class container">
    <div class="row">
       <div class="col-md-8">
    
           {{wtf.quick_form(registration_form, button_map={'submit':'outline-primary'})}}
           <br>
           <p>Do you have an existing  account?<a href="{{url_for('auth.login')}}">Click here to login.</a></p>
       </div>
    </div>
</div>
{% endblock%}