{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">1 Minute Pitch</h1>
                <br>
                <p class="text-center" style="font-size: x-large;">One minute can make you.</p>
            </div>
            <div class="col-md-6">
                <a class="button" href='/new_post'>All Pitches</a>
                <br>
                <br>
                <a class="button" href='/new_post'>Religion</a>
                <br>
                <br>
                <a class="button" href='/new_post'>Businesss</a>
                <br>
                <br>
                <a class="button" href='/new_post'>Science</a>
                <br>
                <br>
                <a class="button" href='/new_post'>Entertainment</a>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}

